.delete {
     border: none;
     background: none;
}
td {
     padding: 10px;
}
.form {
     padding: 10px;
     border: 1px solid gainsboro;
     border-radius: 4px;
}
.submit {
     border: none;
     background-color: green;
     color: white;
     font-weight: 600;
     padding: 10px 20px;
     border-radius: 10px;
}
.link, .link:hover, .link:visited, .link:active {
     text-decoration: none;
     color: black;
}